
@{
    ViewBag.Title = "SecondPage";
}

@ViewBag.t

<h2>SecondPage</h2>

<div class="container">
    <ul class="list-group">
        <li class="list-group-item">
            Your View Bag is <b>@ViewBag.ViewBag</b>
        </li>
        <li class="list-group-item">
            Your View Data is <b>@ViewData["Viewdata"]</b>
        </li>
        <li class="list-group-item">
            Your View Bag is <b>@TempData["Tempdata"]</b>
        </li>
    </ul>
</div>